:root {
   --nav-height: 60px;
}

html, body {
   border: 0;
   padding: 0;
   margin: 0;
   font-family: 'Helvetica Neue', sans-serif;
   margin: 0;
   font-size: 18px;
   -webkit-font-smoothing: antialiased;
}

nav {
   position: fixed;
   height: var(--nav-height);
   width: 100%;
   border-bottom: 1px solid lightgray;
   padding: 0 15px;
   box-sizing: border-box;
}

.navigation {
   width: 100%;
   /* background: black; */
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 500;
}

.navigation .main {
   font-weight: 500;
}

.navigation .right {
   display: flex;
   font-size: 0.9em;
}

.navigation .right a {
   margin-left: 30px;
   color: black;
   text-decoration: none;
   transition: .3s all;
}

.navigation .right a:hover {
   margin-left: 30px;
   color: darkgray;
   text-decoration: none;
}

.placeholder {
   height: var(--nav-height);
}

.container {
   max-width: 1000px;
   margin: auto auto;
}

.banner {
   /* height: 600px; */
   font-weight: 500;
   color: #B0B0B0;
   font-size: 2.1em;
}

.banner .lead {
   padding: 120px 60px;
}

.banner .heavy {
   color: black;
   text-decoration: none;
   transition: .2s color;
}

#uw:hover {
   color: #7c05fb;
}

#google:hover {
   color: #EA4335;
}

#data:hover {
   color: #34A853;
}

#name:hover {
   color: #FBBC05;
}

.section-title {
   font-size: 30px;
   font-weight: 500;
}

@media screen and (max-width: 479px) {
   body {
      font-size: 16px;
   }

   .banner {
      font-size: 1.8em;
   }

   .banner .lead {
      padding: 60px 30px;
   }

   .section-title {
      font-size: 1.8em;
   }

}
