:root {
   --nav-height: 60px;
   --container-width: 1000px;
}

html, body {
   border: 0;
   padding: 0;
   margin: 0;
   font-family: 'Helvetica Neue', sans-serif;
   margin: 0;
   font-size: 18px;
   -webkit-font-smoothing: antialiased;
}

nav {
   position: fixed;
   height: var(--nav-height);
   width: 100%;
   border-bottom: 1px solid lightgray;
   padding: 0 15px;
   box-sizing: border-box;
   background: white;
}

.navigation {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 500;
}

.navigation .main {
   font-weight: 500;
}

.right {
   display: flex;
   font-size: 0.9em;
}

.right a {
   margin-left: 30px;
   color: black;
   text-decoration: none;
   transition: .3s all;
}

.navigation .right a:hover {
   margin-left: 30px;
   color: darkgray;
   text-decoration: none;
}

.placeholder {
   height: var(--nav-height);
}

.container {
   max-width: var(--container-width);
   margin: auto auto;
}

.banner {
   /* height: 600px; */
   font-weight: 500;
   color: #B0B0B0;
   font-size: 2.1em;
}

.banner .lead {
   padding: 120px 60px;
}

.banner .heavy {
   color: black;
   text-decoration: none;
   transition: .2s color;
}

#uw:hover {
   color: #7c05fb;
}

#google:hover {
   color: #EA4335;
}

#data:hover {
   color: #34A853;
}

#name:hover {
   color: #FBBC05;
}

.section-title {
   font-size: 1.4em;
   font-weight: 500;
}

/* Projects */

.project {
   margin-top: 50px;
   display: flex;
}

.project-img {
   flex: 1;
   height: 300px;
   display: block;
   background-size: contain;
   background-repeat: no-repeat;
}

.project-info {
   flex: 1;
   margin-left: 20px;
   display: block;
}

.project-title {
   font-weight: 500;
   font-size: 1.4em;
   color: black;
   text-decoration: none;
   transition: .3s;
}

.project-title:hover {
   color: #BCBCBC;
}

.project-desc {
   color: #B0B0B0;
   font-size: 1.1 em;
   margin-top: 10px;
}

/* Footer */

.footer {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #B0B0B0;
}

.footer a {
   color: #B0B0B0;
   text-decoration: none;
   padding: 30px 10px;
   transition: .3s;
   font-size: .9em;

}

.footer a:hover {
   color: #333;
}



@media screen and (max-width: 479px) {
   body {
      font-size: 16px;
   }



   .banner {
      font-size: 1.8em;
   }

   .banner .lead {
      padding: 60px 30px;
   }



   .project {
      display: block;
   }

   .project-img {
      height: 200px;
   }

   .project-info {
      margin-top: 15px;
      margin-left: 0px;
   }
}

@media screen and (max-width:  1000px) {
   .projects {
      padding: 0 15px;
   }
}
